<div class="card shadow-sm" style="width: 18rem;">
  <img src=<%= group.map %> class="card-img-top" alt=<%="#{group.name}"%>>
  <div class="card-body">
    <h5 class="card-title"><%= group.name %></h5>
    <p class="card-text"><%= group.description %>.</p>
  </div>
  <footer>
    <a href="#" class="btn btn-secondary btn-block">Contact: <%=group.owner.email%></a>
    <%if session[:member_id]%>
      <% if group.members.include?Member.find(session[:member_id])%>
        <%= link_to "View Members", group_members_url(group.id), class: "btn btn-secondary btn-block"%>
        <%= link_to "Leave Group", relationship_url(group.id), class: "btn btn-secondary btn-block", method: "delete"%>
      <%else%>
        <%= link_to "Join Group", join_group_url(group.id), class: "btn btn-secondary btn-block", method: "post"%>
      <%end%>
      <% if group.owner.id == session[:member_id]%>
        <%= link_to "Delete Group", group_url(group.id), class: "btn btn-secondary btn-block", method: "delete" %>
        <%= link_to "Edit Group", edit_group_url(group.id), class: "btn btn-secondary btn-block"%>
      <%end%>
    <%end%>
  
  </footer>
</div>