<div class="card shadow-sm" style="width: 18rem;">
  <img src=<%= group.map %> class="card-img-top" alt=<%="#{group.name}"%>>
  <div class="card-body">
    <h5 class="card-title"><%= group.name %></h5>
    <p class="card-text"><%= group.description %>.</p>
  </div>
  <footer>
    <a href=<%="#{path}#{group.id}/edit" %> class="btn btn-secondary btn-block">Edit Group</a>
    <a href=<%="#{path}#{group.id}" %> class="btn btn-secondary btn-block">View Group</a>
  </footer>
</div>