<!DOCTYPE html>
<html>
  <head>
    <title>buy nothing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-dark">
      <header class="logo">
        <h1 id="title">Buy Nothing</h1>
        <h4 class="card-subtitle mb-2 text-muted">A Community for Giving</h4>
      </header>
      <a href="/groups" type="button" class="btn btn-light">View All Groups</a>
      <button type="button" class="btn btn-light">Members</button>
      <button type="button" class="btn btn-light">Contact</button>
      <button type="button" class="btn btn-light">FAQs</button>
      <% if session[:member_id] %>
        <a href="/join" type="button" class="btn btn-light">Join A Group</a>
        <a href="/member_groups" type="button" class="btn btn-light">View My Groups</a>
        <p type="button" class="btn btn-light">Logged in as: <%=Member.find(session[:member_id]).username %> </p>
        <a href="/logout" type="button" class="btn btn-light" data-method="post">Logout</a>
      <% else %>
        <a href="/login" type="button" class="btn btn-light">Log In</a>
      <% end %>

       
    </nav>
    <% flash.each do |name, message| %>
        <section class="alert-<%= name %> jumbotron text-center"><%= sanitize(message) %></section>
    <% end %>
    
    <%= yield %>
  </body>
</html>
