<!DOCTYPE html>
<html>
  <head>
    <title>buy nothing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-dark">
      <header class="logo">
        <h1 id="title">Buy Nothing</h1>
        <h4 class="card-subtitle mb-2 text-muted">A Community for Giving</h4>
      </header>
      <%= link_to "View All Groups", groups_url, class: "btn btn-light"%>
      <% if session[:member_id] %>
        <%= link_to "Join A Group", join_url, class: "btn btn-light"%>
        <%= link_to "View My Groups", member_groups_url(session[:member_id]), class: "btn btn-light"%>
        <%= link_to "Register A Group", new_group_url, class: "btn btn-light"%>
        <p class="btn btn-light">Logged in as: <%=Member.find(session[:member_id]).username %> </p>
        <%= link_to "Logout", logout_url, class: "btn btn-light", method: "post"%>

      <% else %>
        <a href="/login" type="button" class="btn btn-light">Log In</a>
      <% end %>
    </nav>

    <% flash.each do |name, message| %>
      <section 
      class="alert-<%= name %> jumbotron text-center"><%= sanitize(message) %>
      </section>
    <% end %>
    
    <%= yield %>
  </body>
</html>
