<!DOCTYPE html>
<html>
  <head>
    <title>buy nothing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-dark">
      <header class="logo">
        <h1 id="title">Buy Nothing</h1>
        <h4 class="card-subtitle mb-2 text-muted">A Community for Giving</h4>
      </header>
      <a href="/groups" type="button" class="btn btn-light">Groups</a>
      <button type="button" class="btn btn-light">Members</button>
      <button type="button" class="btn btn-light">Contact</button>
      <button type="button" class="btn btn-light">FAQs</button>
    </nav>
    <%= yield %>
  </body>
</html>
